<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adopt a Tree | Home</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <header>
    <div class="menu-container">
      <div class="logo">
        <img src="https://i.pinimg.com/564x/85/91/3f/85913f1f741cbfc2aae2a4a205380352.jpg" alt="Image Logo">
        <h1>Adopt a Tree</h1>
      </div>
  
      <div class="links">
        <a href="/views/index.html">Contatos</a>
        <a href="/views/doar.html">Como doar</a>
        <a href="/views/index.html">Adotar uma árvore</a>
        <button><a href="/views/index.html">Entrar</a></button>
      </div>
    </div>
  </header>

  <section class="slide-show">
    <div class="slideshow-container">
      <div class="slides fade">
        <img src="https://source.unsplash.com/collection/1728245" alt="Imagem" style="width: 100%; height: 512px;">
        <div class="text">Conheça o projeto</div>
      </div>
  
      <div class="slides fade">
        <img src="https://source.unsplash.com/collection/480579" alt="Imagem" style="width: 100%; height: 512px;">
        <div class="text">Adopt a Tree</div>
      </div>
  
      <div class="slides fade">
        <img src="https://source.unsplash.com/collection/9639032" alt="Imagem" style="width: 100%; height: 512px;">
        <div class="text">Arborização</div>
      </div>
  
      <a class="prev" onclick="plusSlides(-1)"><img src="/public/icons/seta-esquerda.svg"></a>
      <a class="next" onclick="plusSlides(1)"><img src="/public/icons/seta-direita.svg"></a>

      <div class="dots-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
  </section>

  <section class="about-container">
    <div class="title">
      <h1>Adopt a Tree</h1>
      <p>(adote uma árvore)</p>
    </div>

<div class="about-grid-container-1">
  <div class="about-grid-1">
    <div class="about-image" style="background: url(https://source.unsplash.com/collection/33703282/300x300) no-repeat center center / cover; border-radius: 50%; border: 4px solid #0F5027;"></div>

    <div class="about-content">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
</div>

<div class="about-grid-container-2">
  <div class="about-grid-2">
    <div class="about-content">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>

    <div class="about-image" style="background: url(https://source.unsplash.com/collection/33703282/300x300) no-repeat center center / cover; border-radius: 50%; border: 4px solid #0F5027;"></div>
  </div>
</div>
  </section>

  <footer>
    <div class="image-footer">
      <div class="logo-footer">
        <img src="https://i.pinimg.com/564x/85/91/3f/85913f1f741cbfc2aae2a4a205380352.jpg" alt="Image Logo">
        <h1>Adopt a Tree</h1>
      </div>
    </div>

    <div class="link-footer">
      <a href="/">Termos de uso</a>
      <span>|</span>
      <a href="/">Código fonte</a>
    </div>

    <div class="media-social">
      <a href="https://www.linkedin.com/in/adopt-a-tree-430079211/"><img src="/public/icons/linkedin.svg" alt="Linkedin"></a>
      <a href="https://www.facebook.com/Adopt-a-Tree-110037731233124"><img src="/public/icons/facebook.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com/adoptatree_fundation/?igshid=1051atzsv9zou"><img src="/public/icons/instagram.svg" alt="Instagram"></a>
      <a href="mailto:adoptatree0@gmail.com" target="_blank"><img src="/public/icons/google-plus.svg" alt="Gmail"></a>
    </div>
  </footer>

  <script src="/public/js/scripts.js"></script>
</body>
</html>