* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffff;
    --cool: #F2F7FC;
    --green: #0F703F;
    --green-dark: #0F5027;
    --blue: #183548;
    --burnt-yellow: #AB710D;
    --red: #B51F1F;
    --gray-200: #f0f0f0;
    --gray-500: #6E6E6E;
    --gray-700: #707070;
}

body, input, textarea, select, button {
    font: 400 1rem "Robot", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* // Acessbilidade de fontes */
@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}
@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}