<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adopt a Tree | Home</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <header>
    <div class="menu-container">
      <div class="logo">
        <img src="https://i.pinimg.com/564x/85/91/3f/85913f1f741cbfc2aae2a4a205380352.jpg" alt="Image Logo">
        <h1>Adopt a Tree</h1>
      </div>
  
      <div class="links">
        <a href="/views/index.html">Contatos</a>
        <a href="/views/doar.html">Como doar</a>
        <a href="/views/index.html">Adotar uma árvore</a>
        <button><a href="/views/index.html">Entrar</a></button>
      </div>
    </div>
  </header>

  <main>
    <section class="total-doation">
      <div class="title">
        <h2>Total de doações</h2>
      </div>

      <div class="total-doation-container">
        <div class="total-doation">
          <span> <img src="/public/icons/real-brasileiro.svg" alt="Real Brasileiro"> </span>
          <span>253,26</span>
          <span>/</span>
          <span>500,00</span>
        </div>

        <p>É graça a sua doação que o nosso projeto pode ser idealizado!</p>

        <button>Doar</button>
      </div>
    </section>

    <section class="total-tree-adopted">
      <div class="title">
        <h2>Total de árvores adotadas</h2>
      </div>

      <div class="total-doation-container">
        <div class="total-doation">
          <span> <img src="/public/icons/arvore-icon.svg" alt="Tree"> </span>
          <span>250</span>
          <span>/</span>
          <span>500</span>
        </div>

        <p>Todos juntos para uma cidade mais arborizada!</p>

        <button>Adotar</button>
      </div>
    </section>

    <section class="total-seed">
      <div class="title">
        <h2>Total de sementes arrecadadas</h2>
      </div>

      <div class="total-doation-container">
        <div class="total-doation">
          <span> <img src="/public/icons/semeando.svg" alt="Sementes"> </span>
          <span>312</span>
          <span>/</span>
          <span>700</span>
        </div>

        <p>Uma semente hoje, uma árvore amanhã!</p>

        <button>Adotar</button>
      </div>
    </section>
  </main>

  <footer>
    <div class="image-footer">
      <div class="logo-footer">
        <img src="https://i.pinimg.com/564x/85/91/3f/85913f1f741cbfc2aae2a4a205380352.jpg" alt="Image Logo">
        <h1>Adopt a Tree</h1>
      </div>
    </div>

    <div class="link-footer">
      <a href="/">Termos de uso</a>
      <span>|</span>
      <a href="/">Código fonte</a>
    </div>

    <div class="media-social">
      <a href="https://www.linkedin.com/in/adopt-a-tree-430079211/"><img src="/public/icons/linkedin.svg" alt="Linkedin"></a>
      <a href="https://www.facebook.com/Adopt-a-Tree-110037731233124"><img src="/public/icons/facebook.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com/adoptatree_fundation/?igshid=1051atzsv9zou"><img src="/public/icons/instagram.svg" alt="Instagram"></a>
      <a href="mailto:adoptatree0@gmail.com" target="_blank"><img src="/public/icons/google-plus.svg" alt="Gmail"></a>
    </div>
  </footer>
</body>
</html>